<!DOCTYPE html>
{% load static %}
{% load socialaccount %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>밸런스 게임</title>
    <link rel="stylesheet" href="{% static 'main_page/css/main.css' %}">
    <style>
        div{
            float: left;
            padding-right: 20px;
        }
    </style>
</head>
<body>
    <p style="font-size:32px;text-align: center;"> 밸런스 게임 Best 3</p>

    <table>
    <thead>
    <tr>
        <th>질문</th>
        <th>VS</th>
        <th>참여수</th>
    </tr>
    </thead>
    <tbody>
    {% for p in post %}
    <tr>
        <td>{{ p.summary }}</td>
        <td>{{ p.first_question}} vs {{ p.second_question}}</td>
        <td> {{ p.vote_sum }}명</td>
    </tr>
    {% endfor %}
    </tbody>
    </table>


    <div class="wrap">
  		<a href="vs/" class="button">밸런스 게임 하러가기</a>
        <a href="{% provider_login_url 'google' %}" class="button2">로그인</a>
	</div>
</body>
</html>